$primary: #f4e041;
$secondary: #00bdd3;
$background: #f8f8f8;
$white87: #ffffffde;
$black87: #000000de;
$btn-color-normal: #f4e041;
$btn-color-hover: #ffe302;
$btn-color-disabled: #b4b4b4;
$input-border: 1px solid #d0cfcf;
$input-border-radius: 4px;
$input-text-color: #7e7e7e;
$input-border-error: 2px solid #cb3d40;
$input-error: #cb3d40;
